body{
	padding: 0px;
	margin: 0px;
}
.container{
	
	background-image:linear-gradient(180deg, rgba(86, 218, 226, 0.83) 23.5%, rgba(77, 110, 229, 0.819189) 48.59%, rgba(12, 30, 138, 0.797042) 100%),url("background.jpeg");
	background-size: cover;
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 1px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;

	}

#team{
	font-size: 30px;
	line-height: 61px;
	font-style: normal;
	font-family: Alef;
	font-weight: bold;
	color: #D7CECE;
}

#image{
	margin-top: 5px;
	border-radius: 70%;
}
#name,#password{
	/*position: absolute;*/
	width: 344px;
	height: 44px;
	box-sizing: border-box;
	border-radius: 40px;
	background: #FFF8F8;
	text-align: left;
	margin-bottom: 10px;
	background: #FFF8F8;
	border: 3px solid #15D6BE;
	padding-left: 3%;
}
input.name::placeholder{ 
	font-family:fontAwesome; 
	font-size:18px; 
	color: 

}
label.font::value{
	font-family:fontAwesome; 
	font-size:18px; 
	color: 
}

input.name{ font-family: }
#submit{
	position: relative;
	width: 344px;
	height: 44px;
	border:3px solid #000;
	box-sizing: border-box;
	border-radius: 40px;
	background-color:  #000;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	line-height: 146.8%;
}
#submit:hover{
	background-color: gray;
	border-color: gray;
}
#forget{
	position: relative;
	top: 20px;
	color: #D7CECE;
	font-weight: bold;
}
#new{
	position: absolute;
	margin-right: 200px;
	padding-left: 50px;
	right: 31%;
	top: 55%;
	color: #D7CECE;
	font-weight: bold;
}